body {
	background-color: #F0F0F0; /* <-- What an EXPLOSIVE colour :D; */
	font-family: Helvetica, Arial, Comic-sans;
}

#container1 {
	color:black;
	text-align: center;
	width:500px;
	height:120px;
}

#left,#right {
	cursor:grab;
}